<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.GoodsMapper">
	<select id="findHotGoods" resultType="cn.tedu.store.entity.Goods">
		select id,title,price,image from t_goods 
		where status=1 order by priority desc limit 0,#{count}
	</select>
	<select id="findById" resultType="cn.tedu.store.entity.Goods">
		select id,item_type as itemType,
		title,sell_point as sellPoint,
		price,num,image,status 
		from t_goods
		where id=#{id}
	</select>
</mapper>












