<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.UserMapper">
	<!--Integer addnew(User user)-->
	<insert id="addnew">
		insert into t_user(
			username,password,salt,
		    gender,avatar,phone,email,
			is_delete,created_user,
			created_time,modified_user,
			modified_time
		)values(
			#{username},#{password},#{salt},
			#{gender},#{avatar},#{phone},
			#{email},#{isDelete},#{createdUser},
			#{createdTime},#{modifiedUser},#{modifiedTime}
		)
	</insert>
	<!--User findByUsername(String username)-->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select uid,username,password,salt,avatar,is_delete as isDelete from 
		t_user where username=#{username}
	</select>
	<!-- Integer updatePassword(@Param("uid") Integer uid,@Param("password") String password,
			@Param("modifiedUser") String modifiedUser,@Param("modifiedTime") Date modifiedTime) -->
	<update id="updatePassword">
		update t_user set password=#{password},modified_user=#{modifiedUser},
		modified_time=#{modifiedTime} where uid=#{uid}
	</update>
	<!-- User findById(Integer uid) -->
	<select id="findById" resultType="cn.tedu.store.entity.User">
		select username,phone,email,gender,password,salt,is_delete as isDelete 
		from t_user where uid=#{uid}
	</select>
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		update t_user set phone=#{phone},email=#{email},
		gender=#{gender},modified_user=#{modifiedUser},modified_time=#{modifiedTime} where uid=#{uid}
	</update>
	<!-- 执行修改头像 -->
	<!-- Integer updateAvatar(@Param("uid") Integer uid,@Param("avatar") String avatar,
			@Param("modifiedUser") String modifiedUser,@Param("modifiedTime") Date modifiedTime); -->
	<update id="updateAvatar">
		update t_user set avatar=#{avatar},
		modified_user=#{modifiedUser},modified_time=#{modifiedTime} where uid=#{uid}
	</update>
</mapper>












